<%= form_with(model: session, local: true, :html => {:class => "form-signin"}) do |form| %>
    <h1 class="h2 mb-3 font-weight-normal">Restablecer contrase単a</h1>
    <p id="notice"><%= notice %></p>
    <label for="inputPassword" class="sr-only">Nueva contrase単a</label>
    <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
    <label for="inputPassword" class="sr-only">Confirmar contrase単a</label>
    <input type="password" id="inputPassword" class="form-control" name="confirm_password" placeholder="Confirm password" required>
    
    <br>
    <div class="actions">
      <button href= form.submit class="btn btn-lg btn-primary btn-block">Restablecer contrase単a</button>
    </div>
<% end %>