<%= form_with(model: polla, local: true) do |form| %>
    <% if polla.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(polla.errors.count, "error") %> prohibited this polla from being saved:</h2>
  
        <ul>
        <% polla.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    Japón: <input type="textbox" name="partidos[apuestas][]"><br>
    Chile: <input type="textbox" name="partidos[apuestas][]"><br>
    Ecuador: <input type="textbox" name="partidos[apuestas][]"><br>
    Perú: <input type="textbox" name="partidos[apuestas][]"><br>
  
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
  