<!DOCTYPE html>
<html>
<head>
 <title>Restablecer contraseña</title>
</head>
<body>
    <h1> Estimado usuario <%=@user.name%>:</h1>
    <p> Nos llegó tu solicitud para poder restablecer tu contraseña. Haz click en el siguiente link y 
    podrás establecer una contraseña nueva de manera segura </p>
    <a href=<%=@link%> class="btn btn-lg btn-primary btn-block"> <%= @link%> </a>
    <p>Si tienes problemas al pulsar el link te pedimos que lo copies y pegues directamente en tu navegador </p>
</body>
</html>