<!DOCTYPE html>
<html>
<head>
 <title>Recordatorio de pago</title>
</head>
<body>
    <h1> Estimado usuario <%=@user.name%>:</h1>
    <p> Queríamos recordate de que las apuestas cierran hoy 14 de Junio a las 19:30 hrs y tienes pollas aún sin pagar, por lo que si quieres participar no te olvides de efectuar el pago. </p>
    <p> Si ya pagaste y aún no se actualiza el estado en tus pollas responde este correo con el comprobante de pago especificando la polla que pagaste y nosotros haremos el cambio inmediatamente</p>
    <p> Saludos cordiales </p>
    </body>
</html>