<form class="form-signin" id="register-form">
  <h1 class="h2 mb-3 font-weight-normal">Regístrate</h1>
  <label for="inputEmail" class="sr-only">Correo electrónico</label>
  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
  <label for="inputPassword" class="sr-only">Contraseña</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
  <label for="inputFirstName" class="sr-only">Nombre</label>
  <input type="firstName" id="inputFirstName" class="form-control" placeholder="First name" required>
  <label for="inputLastName" class="sr-only">Apellido</label>
  <input type="LastName" id="inputLastName" class="form-control" placeholder="Last name" required>
  <label for="inputPhoneNumber" class="sr-only">Teléfono</label>
  <input type="PhoneNumber" id="inputPhoneNumber" class="form-control" placeholder="Phone Number" required>
  <%# <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div> %>
  <a id="register-btn" class="btn btn-lg btn-primary btn-block" type="submit">Crear cuenta</a>
  <br/>
  <p>¿Ya tienes una cuenta?</p>
  <a class="btn btn-lg btn-light btn-block" href="<%= new_session_path %>">Inicia sesión</a>
  <hr />
  <%= render 'layouts/external-accounts' %>
</form>
