<main role="main">
  <h1 class="cover-heading">
  Bases y Reglas
  </h1>
  <div class="text">
    <h4>¿Cómo sé que mis apuestas ya están participando dentro del concurso?</h4>
    <p>	Tu participación se hará efectiva una vez que realices el pago de tus apuestas. Si lo haces de forma online, estás quedarán activas de forma inmediata. En cambio, si realizas el pago en efectivo, la organización se encargará de activar tus apuestas al momento de pagar.</p>

    <h4>¿Cómo se asigna el puntaje?</h4>
    <p>En la fase de grupos se asignará 5 puntos por cada posición correcta de un equipo en la tabla de su grupo.</p>
    <p>En fases eliminatorias se asignará 5 puntos por acertar al ganador del encuentro o al empate si corresponde. Además se sumarán 2 puntos por acertar al número de goles de un equipo y 1 punto por acertar a la diferencia de goles del partido.</p>
    
    <h4>¿Cómo funciona el ranking?</h4>
    <p>A cada polla por separado se le asignará su puntaje correspondiente según los resultados de los partidos. Después todas las pollas se ordenarán según puntaje de mayor a menor.</p>
	  <p>El puntaje de cada polla corresponde a la suma del puntaje asignado por la fase de grupos y la fase de eliminación directa.</p>

    <h4>¿Qué ocurre en caso de empate?</h4>
    <ul>
      <li>
        <p>Empate en el primer lugar: En el caso de que dos personas empaten con el mayor puntaje en el ranking final, se tomarán los montos del primer y segundo lugar y se repartirán entre ambos ganadores. Mientras la persona que esté en el siguiente puesto en el ranking recibirá el premio del tercer lugar.</p>
        <p>En caso de que exista un empate entre tres o más personas con el mayor puntaje en el ranking final, se tomarán los montos del primer, segundo y tercer lugar y se repartirán equitativamente entre la cantidad de ganadores.</p>
      </li>
      <li>Empate en el segundo lugar: En el caso de que dos o más personas empaten con la segunda posición en el ranking final, se tomarán los premios del segundo y tercer lugar y se repartirán los ganadores.</li>
      <li>Empate en el tercer lugar: En el caso de que dos o más personas empaten con la tercera posición en el ranking final, se tomará el premio del tercer lugar y se repartirá equitativamente entre los ganadores.</li>
    </ul> 

    <h4>¿Qué períodos del partido se consideran para el cómputo de los goles?</h4>
    <p>La predicción solo incluye los 90 minutos de tiempo reglamentario más los descuentos dados por el árbitro, pero excluye cualquier tiempo adicional y el resultado de las series de penaltis.</p>
    
    <h4>¿Qué ocurre si quiero apostar a  empate de un partido?</h4>
    <p>En caso que quieras apostar a un empate debes seleccionar la cantidad de goles de cada equipo y marcar la casilla del equipo que crees que pasará de ronda.</p>

    <h4>¿Cómo cobro mi premio?</h4>
    <p>Una vez que haya finalizado la Copa América 2019, la organización se contactará con los ganadores para gestionar la entrega de su premio.</p>

    <h4>¿Por qué el pago está asociado a la cuenta de Felipe Poblete? ¿Quién es Felipe Poblete?</h4>
    <p>Proyecta es un voluntariado que pertenece a la Facultad de Ingeniería de la Pontificia Universidad Católica, por lo que no posee personalidad jurídica, lo que conlleva a que no sea posible tener una cuenta bancaria asociada a la organización. Es por este motivo que los ingresos asociados a los pagos de las apuestas se deben realizar a una cuenta particular. Felipe Poblete es uno de los tres jefes generales de Proyecta, por lo que el pago de todas las apuestas de la polla se redirigen a su cuenta para que el dinero ingrese directamente a la organización.</p>
  </div>
</main>