<main role="main" class="inner cover">
  <h2>Ranking</h2>
  <hr>
  <table class="table table-striped table-bordered table-hover table-light">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Usuario</th>
        <th>Puntaje</th>
        <th colspan="3"></th>
      </tr>
    </thead>

      <tbody>
      <% @pollas.each do |polla| %>
        <tr>

          <td><%= polla.id %></td>
          <td><%= polla.name %> </td>
          <td><%= polla.user.name %></td>
          <td><%= polla.score %></td>
          
      </tr>
      <% end %>
      </tbody>
  </table>
</main>