<main role="main" class="inner cover">
  <h1 class="cover-heading">
  Bases y Reglas
  </h1>
  <div class="text">
    <h4>¿Qué es Proyecta?</h4>
    <p>Proyecta es un voluntariado social abierto a todas las universidades, que busca disminuir la poca cohesión social existente en diferentes zonas rurales del país. Para lograr esto se realizan construcciones de espacios comunitarios y talleres que buscan unir a los habitantes de las zonas visitadas.
    Actualmente Proyecta se financia mediante la realización de distintas actividades gracias a la colaboración de sus voluntarios, por lo que la realización de esta polla surge de la necesidad existente de llevar a cabo los trabajos de Verano 2020 de la mejor manera posible.
    ¡Te invitamos a colaborar con nosotros a través de esta entretenida Polla Copa América 2019, y de paso estarás ayudando a todas las familias que buscamos beneficiar con nuestros trabajos durante el año!</p>

    <p>Si quieres saber más de Proyecta y nuestras actividades, puedes buscarnos en:
    Instagram: @proyectauc 
    Facebook: Proyecta</p>
    <h4>Puntuación</h4>
    <p>En la fase de grupos se asignará 5 puntos por cada posición correcta de un equipo en la tabla de su grupo.</p>
    <p>En fases eliminatorias se asignará 5 puntos por acertar al ganador del encuentro o al empate si corresponde. Además se sumarán 2 puntos por acertar al número de goles de un equipo y 1 punto por acertar a la diferencia de goles del partido.</p>
    <h4>Reglamento </h4>
    <p>A cada polla por separado se le asignará su puntaje correspondiente según los resultados de los partidos. Después todas las pollas se ordenarán según puntaje de mayor a menor.</p>
	  <p>El puntaje de cada polla corresponde a la suma del puntaje asignado por la fase de grupos y la fase de eliminación directa.</p>
    <h4>Medios de pago</h4>
    <p>Al momento de querer realizar el pago de una o varias pollas, existirán dos formas de hacerlo:
      <ol>
        <li>Online: en la página web podrás seleccionar las pollas que quieres pagar y se te redirigirá a una página donde podrás realizarlo.</li>
        <li>Efectivo: si deseas realizar un pago en efectivo de una o más pollas te puedes contactar al correo de la comisión de financiamiento de Proyecta indicando cuál o cuáles quieres pagar. Luego de esto recibirás un correo respuesta para acordar cómo realizar el pago. Cuando el pago ya esté realizado, pondremos la verificación de que tu o tus apuestas ya están participando.
        Correo: <a href="mailto: financiamiento@trabajosproyecta.cl">financiamiento@trabajosproyecta.cl</a></li>
      </ol>
    </p>
    <h4>Premios</h4>
    <p>Esta polla es a beneficio del voluntariado Proyecta y el dinero recaudado será destinado para cubrir los gastos asociados a los próximos trabajos de verano 2020. Por estos motivos, los premios de la Polla Proyecta serán los siguientes:
    <ul>
      <li>1er lugar: máximo entre $30.000 y el 10% del pozo acumulado.</li>
      <li>2do lugar: máximo entre $15.000 y el 5% del pozo acumulado.</li>
      <li>3er lugar: máximo entre $7.500 y el 2.5% del pozo acumulado.</li>
    </ul>
    </p> 
    <h4>Empates</h4>
    <ul>
      <li>
        <p>Empate en el primer lugar: En el caso de que dos personas empaten con el mayor puntaje en el ranking final, se tomarán los montos del primer y segundo lugar y se repartirán entre ambos ganadores. Mientras la persona que esté en el siguiente puesto en el ranking recibirá el premio del tercer lugar.</p>
        <p>En caso de que exista un empate entre tres o más personas con el mayor puntaje en el ranking final, se tomarán los montos del primer, segundo y tercer lugar y se repartirán equitativamente entre la cantidad de ganadores.</p>
      </li>
      <li>Empate en el segundo lugar: En el caso de que dos o más personas empaten con la segunda posición en el ranking final, se tomarán los premios del segundo y tercer lugar y se repartirán los ganadores.</li>
      <li>Empate en el tercer lugar: En el caso de que dos o más personas empaten con la tercera posición en el ranking final, se tomará el premio del tercer lugar y se repartirá equitativamente entre los ganadores.</li>
    </ul> 
  </div>
</main>