<main role="main" class="inner cover">
  <h1 class="cover-heading">
  Bases y Reglas
  </h1>
  <p class="lead">Polla Proyecta es un sitio de apuestas en donde podrás apostar por los resultados de los partidos de la Copa América y ganar dinero si tus predicciones fueron lo suficientemente buenas.</p>
  <p class="lead">
    <a href=<%=new_polla_path%> class="btn btn-lg btn-secondary">Apuesta ya!</a>
  </p>
</main>