<main role="main" class="inner cover">
  <h1 class="cover-heading">
  Polla Proyecta
  </h1>
  <p class="lead">Polla Proyecta es un sitio de apuestas en donde podrás apostar por los resultados de los partidos de la Copa América y ganar dinero si tus predicciones fueron lo suficientemente buenas.</p>
  <p class="lead">
    <% if current_user %>
      <a href=<%=new_polla_path%> class="btn btn-lg btn-secondary">Apuesta ya!</a>
    <% else %>
      <a href=<%=login_path%> class="btn btn-lg btn-secondary">Apuesta ya!</a>
    <% end %>
      </p>
</main>

<footer class="mastfoot mt-auto">
  <div class="inner">
    <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
  </div>
</footer>