<%= form_with(model: result, local: true, :html => {:class => "form-signin"}) do |form| %>
  <% if result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h1 class="h2 mb-3 font-weight-normal">Ingresar resultado</h1>
  <p id="notice"><%= notice %></p>
  <label for="inputTeam1" class="sr-only">Equipo 1</label>
  <input type="team1" id="inputTeam1" name="team_1" class="form-control" placeholder="Equipo 1" required>
  
  <label for="inputTeam2" class="sr-only">Equipo 2</label>
  <input type="team2" id="inputTeam2" name="team_2" class="form-control" placeholder="Equipo 2">
  
  <label for="inputResultTeam1" class="sr-only">Goles equipo 1</label>
  <input type="result_team1" id="inputResultTeam1" name="result_team_1" class="form-control" placeholder="Goles equipo 1">
  
  <label for="inputResultTeam2" class="sr-only">Goles equipo 2</label>
  <input type="result_team2" id="inputResultTeam2" name="result_team_2" class="form-control" placeholder="Goles equipo 2">
  
  <label for="inputResult" class="sr-only">Ganador (1 para equipo 1, 2 para equipo 2)</label>
  <input type="result" id="inputResult" name="result" class="form-control" placeholder="Ganador (1 o 2)" >
  
  <label for="inputStage" class="sr-only">Etapa (groups, quarter, semis, third_place, final)</label>
  <input type="stage" id="inputStage" name="stage" class="form-control" placeholder="Etapa (groups, quarter, semis, third_place, final)" required>
  
  <label for="inputPosition" class="sr-only">Posición equipo (solo fase de grupos)</label>
  <input type="position" id="inputPosition" name="position" class="form-control" placeholder="Posición equipo (1, 2 ,3 o 4)">
  
  <label for="inputGroup" class="sr-only">Grupo del equipo (solo fase de grupos)</label>
  <input type="group" id="inputGroup" name="group" class="form-control" placeholder="Grupo del equipo (a, b o c)">
  
  
  <br>
  <div class="actions">
    <button id="register-btn" href= form.submit class="btn btn-lg btn-primary btn-block">Crear resultado</button>
  </div>
<% end %>
