/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import "font-awesome";
@import "bootstrap-social";
@import "flag-icon";
@import "jquery-ui/sortable";

/*
 * Customs
 */

/* 
 * Sign In / Register 
 */

.fa-facebook {
  padding-top: 2px;
}
#register-form .form-control {
  margin: 10px 0 10px 0;
  border-radius: .25rem;
}
#register-form #register-btn {
  margin-top: 20px;
}
.form-signin p {
  margin-bottom: 5px;
}

/* 
 *Navbar 
 */

#dropdownMenuButton {
  border-bottom: 0;
}

.dropdown-item {
  text-shadow: 0 0;
}

.list-group-item {
  color: #212529;
  text-shadow: 0 0;
}

/* 
 * Groups display 
 */

.list-group-group-phase, .list-group-match {
  border: 1px solid rgb(100, 100, 100);
  border-radius: 0.3em;
}

 .groups {
   padding: 0 !important;
   margin: 0 !important;
   border: 0;
   display: flex;
   .flag-icon {
     border-left: 1px solid rgba(0, 0, 0, 0.125);
   }
 }

.standings {
  width: 49px !important;
}

.standing {
  height: 48px;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.country-name {
  width: -webkit-fill-available;
}

/* 
 * Bet display 
 */


.ui-sortable-handle {
  :hover {
    cursor: grab;
  }
}
.ui-sortable-handle.ui-sortable-helper {
  :hover {
    cursor: grabbing;
  }
}

.button-winner {
  width: 0;
  height: 0;
  padding: 10px;
  margin: 14px;
}

select.select-country {
  border: 0;
  background-color: rgba(255, 255, 255, 0);
  text-align-last:center;
} 

.container-page {
  flex-wrap: wrap;
  display: none;
  justify-content: center;
  align-content: center; 
  min-height: 35em;

  .between-matches {
    width: 200px;
    height: 67px;
    margin-top: 25px;
    border-bottom: 1px solid rgba(34, 34, 34, 0.5);
    display: flex;
    align-items: flex-end;
  }
  .container {
    flex-wrap: nowrap;
    display: flex;   
    align-items: flex-start; 
  }
}

.container.container-pagination {
  padding: 0;
  min-width: 100%;
}

.card.bg-light{
  background-color: rgba(250, 250, 250, 0.7) !important;
  border-radius: 1rem;

  .card-header {
    padding: 0;
    display: flex;
    justify-content: space-between;
    
    li {
      width: 20%;
    }
  }
}

.container-page#quarter-finals-page {
  align-content: space-around;
}

#instructions-page {
  padding: 1em;
  display: block;
  text-align: left;
  a {
    color: #007bff;
  }
}

.list-group-item.active{
  padding: 6px 20px 6px 20px;
}

.list-group {
  width: 330px;
  margin: 2.5%;
}

.country {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px 0 0;
  height: 49px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.125);

  input {
    height: 100%;
    border: 1px solid;
  }
  .flag-icon {
    border-right: 1px solid rgba(0, 0, 0, 0.125);
    height: 48px;
    min-width: 64px;
  }
}

.input-group {
  width: 120px;
  height: 80%;
  background-color: #fff;
  border-radius: 0.25rem;
}

.matches {
  display: flex;
  justify-content: space-evenly;
}

#finals-page {
  flex-direction: column;
}


/* 
 * Pagination 
 */ 

.pagination {
  text-shadow: 0 0;
  color: #007bff;
  text-decoration: none;
  :hover {
    cursor: pointer;
  }
  .active:hover {
    color: #fff;
  }
}
.page-item.disabled:hover {
  cursor: default;
}

.page-link {
  padding: 0.75rem 0 !important;
}

/*
 * Globals
 */

.container {
  min-width: 55em;
}


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-image: image-url('fondo_polla.jpg');
  background-size: cover;
  background-attachment: fixed;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: rgb(34, 34, 34);
  text-shadow: 0 .05rem .1rem rgba(255, 255, 255, 0.5);
}

.cover-container {
  width: 70em !important;
}

/*
 * Header
 */

.inner.navbar {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  > * {
    width: 33%;
  }
  .badge-primary {
    text-shadow: 0 0;
  }

  .badge-primary {
    color: #fff
  }

  a,
  a:focus,
  a:hover {
    color: rgba(0, 0, 0, .7)
  }
}

.masthead {
  margin-bottom: auto;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(34, 34, 34, .7);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(34, 34, 34, .4);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: rgb(34, 34, 34);
  border-bottom-color: rgb(34, 34, 34);
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgb(0, 0, 0);
  
}

/*
 * Log In
 */
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-social {
  color: #fff !important;
}

.btn-light, .btn-secondary {
  border: 1px solid #495057;
}

.alert {
  margin: auto;
  width: 50%;
  margin-bottom: 5em
}

.alert-content {
  display: flex;
  justify-items: center;
}

.table {
  border-radius: 1rem;

  th:first-child{
    border-top-left-radius: 1rem;
  }
}

.text {
  text-align: left;
  h4 {
    font-weight: bold;
  }
}

// # Users list

.edit_user {
  display: inline-flex;
  justify-content: space-between
}

#input-number-cell {
  padding: 0.35em 0;
}