<div class="container-page" id="instructions-page">
    <h3>Fase de Grupos</h3>
    <p>Debes ingresar los resultados de la fase de grupo, para ello debes agarrar y arrastrar los equipos de cada grupo hasta que queden en el orden que creas.</p>
    <h3>Cuartos de Final</h3>
    <p>Después en la pestaña de Cuartos de Final, para el primer y cuarto encuentro, debes seleccionar cuales serán los dos mejores terceros de los grupos A, B y C. Posteriormente debes ingresar los goles del tiempo reglamentario para cada partido, en caso que apuestes por un empate deberás marcar en el cuadrado correspondiente qué equipo crees que pasará de ronda.</p>
    <h3>Semifinal</h3>    
    <p>Una vez ingresado todos los resultados de los Cuartos de Final se habilitará la pestaña de la Semifinal, donde deberás seleccionar los goles del tiempo reglamentario para cada semifinal, en caso que apuestes por un empate deberás marcar en el cuadrado correspondiente qué equipo crees que pasará de ronda.</p>
    <h3>Final</h3>    
    <p>Finalmente se habilitará la pestaña Final donde podrás ingresar los resultados de la final y el partido por el tercer lugar. En caso que apuestes por un empate deberás marcar en el cuadrado correspondiente qué equipo crees que pasará de ronda.</p>
    <h3>Quedaste con dudas?</h3>
    <p>Revisa nuestras <a href="<%= faqs_path %>">preguntas frecuentes</a> o nuestras <a href="<%= rules_path %>">bases y reglas</a>.
</div>