<div class="container container-page" id="quarter-finals-page">
    <div class="container">
        <%= render 'layouts/marker', id:1 %>
        <span class="between-matches">Los ganadores jugar치n en contra en la pr칩xima ronda</span>
        <%= render 'layouts/marker', id:3 %>
    </div>
    <div class="container">
        <%= render 'layouts/marker', id:2 %>
        <span class="between-matches">Los ganadores jugar치n en contra en la pr칩xima ronda</span>
        <%= render 'layouts/marker', id:4 %>
    </div>
</div>