<div class="container container-page" id="quarter-finals-page">
    <%= render 'layouts/marker', id:1 %>
    <%= render 'layouts/marker', id:2 %>
    <%= render 'layouts/marker', id:3 %>
    <%= render 'layouts/marker', id:4 %>
</div>